.container {
        background-color: #ebf1f7;
    padding: 3rem 0;
}
/* jumbotron */
.jumbotron {
    background-image: url("chocolatebg.jpg");
    background-size: 100%;
    min-height: 600px;
    padding-top: 1rem;
    margin-bottom: 0;
}
.jumbotron .container {
    background-color: transparent;
    padding-top: 1rem;
}
/* jumbotron FORM */
form {
    padding: 10px;
}
.sign-in-form {
    background-color: #fcfcfcb8;
    position: relative;
    top: 20%;
}
/* STRONG POINTS SECTION */
.strong-points img {
    width: 30%;
    height: 30%;
}
.strong-points p{
    margin: 0;
    font-size: 20px;
}
.col-points-custom {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.strong-points .row {
    display: flex;
    align-items: center;
    padding: 0 10px;
}
/* GALLERY SECTION */
.gallery {
    text-align: center;
}
.gallery h2 {
    padding: 0.5rem 0;
}
.gallery img {
    margin-bottom: 20px;
}
.wrapper {
    height: 100%;
    position: relative;
    padding: 0;
}
i {
    position: absolute;
    top: 50%;
    left: calc(50% - 5px);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s;
}
.wrapper:hover i {
    opacity: 1;
    transition: 1s;
}
.gallery .com-sm-12 {
    height: 250px;
}
/* MAIN PIC */
.chocolate-woman {
    float: right;
}
.chocolate-woman-text {
    display: flex;
    align-items: center;
}
/* BEST PRODUCTS SECTION */
.best-products .container {
    padding-bottom: 1rem;
    text-align: center;
}
.best-products .row {
    padding: 0 20px;
}
.wrapper-product p {
    margin-top: 20px;
}
.best-products .text-center {
    display: flex;
    align-items: center;
 }
 .wrapper-best-products {
     height: 200px;
 }
/* FOOTER */
.footer-main {
    font-family: 'Cabin';
    padding-top: 70px;
}
.footer h2 {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 30px;
    padding-bottom: 6px;
    position: relative;
    text-transform: uppercase;
}
.footer h2::after {
    display: block;
    content: '';
    width: 55px;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer-main p {
    font-size: 0.9rem;
}
.contact-footer-section {
    margin-bottom: 15px;
}
.contact-footer-section p {
    margin-bottom: 1px;
}
.footer a {
    color: black;
}
.footer a:hover {
    text-decoration: none;
}
.footer-contact {
    position: relative;
    right: 12px;
}
.copyright {
    padding: 0;
    margin: 0 auto;
}
.copyright p {
    margin: 0;
    padding: 20px 0;
}
